* {
    margin: 0;
    padding: 0;
    font-family: crossorigin, sans-serif;
}

.fundo {
    background-image: linear-gradient(45deg, black, green);
    height: 100vh;
    text-align: center;
}

h1 {
    padding: 50px;
}

.calculadora {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 10px;
}

.calculadora__display {
    background-color: black;
    margin: 3px;
    color: green;
    border-radius: 15px;
    text-align: right;
    font-size: 30px;
    padding: 10px;
}

.botao {
    background-color: rgb(31, 31, 31);
    margin: 3px;
    width: 50px;
    height: 50px;
    font-size: 25px;
    color: white;
    cursor: pointer;
    border: none;
}

.botao:hover {
    background-color: black;
}

#soma {
    height: 106px;
}

#calcula {
    height: 106px;
}

#zero {
    width: 106px;
}